*, html, body {
    font-family: serif;
    background-color: black; 
    margin: 0;
    padding: 0;
    color: blue;
}

body {
    max-height: 100vh;
    width: 100%;
}

#cardKontent { 
    display: none;
    background: transparent;
    border: 3px solid blue;
    text-align: center; 
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 95vh;
}

.card { 
    padding: 20px 5px;
    background: transparent;
    border: 3px solid blue;
    text-align: center; 
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 90vh;
}

.judul {
    color: blue;
}

.text {
    color: blue;
}

input { 
    width: 80%;
    padding: 10px; 
    margin: 15px 0; 
    border: 3px solid blue;
    box-sizing: border-box; 
    transition: 0.3s; 
    outline: none;
    color: blue;
}

#pContent {
    display: none;
    color: red;
}

input.error { 
    border-color: red; 
    animation: shake 0.4s; 
}

button { 
    background-color: transparent; 
    color: blue; 
    border: 3px solid blue; 
    padding: 10px 20px; 
    cursor: pointer; 
    width: 80%; 
    font-weight: bold; 
}

button:hover { 
    background-color: #000066;
}
    
#konten { 
    display: none; 
    animation: fadeIn 0.5s; 
}

@keyframes shake {
    0%, 100% { 
        transform: translateX(0); 
    }
    25% { 
        transform: translateX(-5px); 
    }
   75% { 
       transform: translateX(5px); 
    }
}

@keyframes fadeIn { 
    from {
        opacity: 0; 
    } to {
        opacity: 1; 
    } 
}

#berangkas {
    padding: 20px;
    background-color: transparent;
}

.p-text {
    padding: 5px;
    font-size: 60%;
}